{% load staticfiles %}

<!-- Auto refresh results -->
<!--<meta http-equiv="refresh" content="5">-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Internetový obchod s vecami pripojitaľnými na internet">
    <meta name="author" content="Martin Nevický & Martin Števko">
    <meta name="keywords" content="eshop, obchod, internet, sieť, veci">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internet vecí" />
    <meta property="og:description" content="Internetový obchod s vecami pripojitaľnými na internet. Vytvorte si úplne vlatnú kompletnú sieť!" />
    <meta property="og:image" content="{% static 'img/iot_fb.jpg' %}" />

    <title>Košík</title>
    <link rel="icon" href="{% static 'img/logo_invert.png' %}" type="png">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">
  </head>
  <body>
    <header>
      <div class="topnav" id="topnavbar">
        {% if user.is_superuser %}
          <a href="{% url 'admin:index' %}">Administration</a>
        {% endif %}
        <a href="{% url 'eshop:index' %}">Domov</a>

        {% for division in menu %}
          <div class="dropdown">
            <a class="dropbtn" href="{% url 'eshop:categories' division.0.id %}">
              {{ division.0.name }}
            </a>
            <div class="dropdown-content">
              {% for category in division.1 %}
                <a href="{% url 'eshop:products' category.id %}">{{ category.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <a href="{% url 'eshop:basket' %}" class="active hruba">Košík</a>
        <a href="{% url 'eshop:contact' %}">Kontakt</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <div id="content">
      {% if cart %}
        <br>
        <div class="container-cart">
          <form method="POST" autocomplete="off">
            <ul class="product-list-basic">
              {% csrf_token %}
              {% for item in cart %}
                <div>
                  {% for prod in products %}
                    {% if prod.id == item.0 %}
                      <li>
                        <a class="product-photo">
                          <img src="{{ prod.image.url }}" alt="{{ prod.name }}" height="130px">
                        </a>
                        <h2><a>{{ prod.name }}</a></h2>
                        <p class="product-description">{{ prod.description }}</p>
                        <p class="product-price">{{ prod.price }}&euro;</p>
                        <br>
                        <br>
                        <input name="amount{{ item.0 }}" type="number" min="1" value="{{ item.1 }}" required>
                        <input name="remove{{ item.0 }}" type="submit" value="Odobrať z košíka">
                      </li>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endfor %}
            </ul>
            <p>
              Spolu: {{ price_sum }}&euro;
            </p>
            <input type="submit" value="Prejsť na objednávku" name="order">
          </form>
        </div>
      {% else %}
        <div class="container">
          <h1>Košík</h1>
          <div id="alertX71" class="message info" style="margin: 0 0 10px 0;">
            V tejto chvíli sa v košíku nenachádzajú žiadne položky.
            <button type="button" onclick="close_this('alertX71');" class="close_alert info">&#x2716;</button>
          </div>
          <div style="clear: both;"></div>
        </div>
      {% endif %}
    </div>
    <footer class="footer">
      <a class="foot" href="https://github.com/MartinStevko/SEN_eshop">Zzrojový kód - ESHOP ©MARTINNEVICKY&MARTINSTEVKO2018</a>
    </footer>
  </body>
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>
</html>
