{% load staticfiles %}

<!-- Auto refresh results -->
<!--<meta http-equiv="refresh" content="5">-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Internetový obchod s vecami pripojitaľnými na internet">
    <meta name="author" content="Martin Nevický & Martin Števko">
    <meta name="keywords" content="eshop, obchod, internet, sieť, veci">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internet vecí" />
    <meta property="og:description" content="Internetový obchod s vecami pripojitaľnými na internet. Vytvorte si úplne vlatnú kompletnú sieť!" />
    <meta property="og:image" content="{% static "img/iot_fb.jpg" %}" />

    <title>Kategórie produktov</title>
    <link rel="icon" href="{% static "img/icon.png" %}" type="png">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
  </head>
  <body>
    <header>
      <div class="topnav" id="topnavbar">
        {% if user.is_superuser %}
          <a href="{% url 'admin:index' %}">Administration</a>
        {% endif %}
        <a href="{% url 'eshop:index' %}">Domov</a>
        <div class="dropdown active">
          <a class="active dropbtn" href="{% url 'eshop:categories' dvsn.id %}">
            {{ dvsn.name }}
          </a>
          <div class="dropdown-content">
            {% for category in ctgr %}
              <a href="{% url 'eshop:products' category.id %}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>

        {% for division in menu %}
          <div class="dropdown">
            <a class="active dropbtn" href="{% url 'eshop:categories' division.0.id %}">
              {{ division.0.name }}
            </a>
            <div class="dropdown-content">
              {% for category in division.1 %}
                <a href="{% url 'eshop:products' category.id %}">{{ category.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <a href="{% url 'eshop:contact' %}">Kontakt</a>
        <a href="{% url 'eshop:basket' %}">Košík</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <div id="content">
      <h1>
        {{ dvsn.name }}
      </h1>
      <div>
        {% for category in ctgr %}
          <a class="clicable_div" href="{% url 'eshop:products' category.id %}">
            <div>
              <h2>{{ category.name }}</h2>
              <img src="{{ category.image.url }}" alt="{{ category.name }}" width="300px">
              <p>
                {{ category.description }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <footer>
      paticka
    </footer>
  </body>
  <script src="{% static "js/navbar.js" %}"></script>
</html>
