{% load staticfiles %}

<!-- Auto refresh results -->
<!--<meta http-equiv="refresh" content="5">-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Internetový obchod s vecami pripojitaľnými na internet">
    <meta name="author" content="Martin Nevický & Martin Števko">
    <meta name="keywords" content="eshop, obchod, internet, sieť, veci">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internet vecí" />
    <meta property="og:description" content="Internetový obchod s vecami pripojitaľnými na internet. Vytvorte si úplne vlatnú kompletnú sieť!" />
    <meta property="og:image" content="{% static "img/iot_fb.jpg" %}" />

    <title>Kontakt</title>
    <link rel="icon" href="{% static "img/icon.png" %}" type="png">
    <link rel="stylesheet" href="{% static "css/general.css" %}">
  </head>
  <body>
    <header>
      <div class="topnav" id="topnavbar">
        <a href="{% url 'eshop:index' %}">Domov</a>

        {% for division in menu %}
          <div class="dropdown">
            <a class="dropbtn" href="{% url 'eshop:categories' division.0.id %}">
              {{ division.0.name }}
            </a>
            <div class="dropdown-content">
              {% for category in division.1 %}
                <a href="{% url 'eshop:products' division.0.id %}">{{ category.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <a href="{% url 'eshop:contact' %}" class="active">Kontakt</a>
        <a href="{% url 'eshop:basket' %}">Košík</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <div id="content">
      <div id="authors">
        <h1>Autori stránky</h1>
      </div>
      <div id="form">
        <h2>Napíšte nám</h2>
        {% if message %}
          <p>{{ message }}</p>
        {% endif %}
        <form method="POST" autocomplete="off">
          {% csrf_token %}
          <label for="1">Meno a priezvisko*:</label>
          <br>
          <input id="1" name="name" type="text" maxlength="50" required>
          <br>
          <label for="2">E-mail*:</label>
          <br>
          <input id="2" name="from" type="email" required>
          <br>
          <label for="3">Predmet*:</label>
          <br>
          <input id="3" name="subject" type="text" maxlength="50" required>
          <br>
          <label for="4">Adresa bydliska:</label>
          <br>
          <input id="4" name="adress" type="text" maxlength="150">
          <br>
          <label for="5">Číslo domu:</label>
          <br>
          <input id="5" name="house" type="text" maxlength="10">
          <br>
          <label for="6">Správa*:</label>
          <br>
          <textarea id="6" name="text" rows="6" cols="50" required></textarea>
          <br>
          <input type="submit" value="Odoslať" name="submit">
      </div>
    </div>
    <footer>
      paticka
    </footer>
  </body>
  <script src="{% static "js/navbar.js" %}"></script>
</html>
