{% load staticfiles %}

<!-- Auto refresh results -->
<!--<meta http-equiv="refresh" content="5">-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Internetový obchod s vecami pripojitaľnými na internet">
    <meta name="author" content="Martin Nevický & Martin Števko">
    <meta name="keywords" content="eshop, obchod, internet, sieť, veci">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internet vecí" />
    <meta property="og:description" content="Internetový obchod s vecami pripojitaľnými na internet. Vytvorte si úplne vlatnú kompletnú sieť!" />
    <meta property="og:image" content="{% static 'img/iot_fb.jpg' %}" />

    <title>Internet vecí</title>
    <link rel="icon" href="{% static 'img/logo_invert.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <header>
      <div class="topnav" id="topnavbar">
        {% if user.is_superuser %}
          <a href="{% url 'admin:index' %}">Administration</a>
        {% endif %}
        <a href="{% url 'eshop:index' %}" class="active hruba">Domov</a>

        {% for division in menu %}
          <div class="dropdown">
            <a class="dropbtn" href="{% url 'eshop:categories' division.0.id %}">
              {{ division.0.name }}
            </a>
            <div class="dropdown-content">
              {% for category in division.1 %}
                <a href="{% url 'eshop:products' category.id %}">{{ category.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="end">
          <a href="{% url 'eshop:basket' %}">Košík</a>
          <a href="{% url 'eshop:contact' %}">Kontakt</a>
        </div>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <div class="container">
      <h1>Internet vecí</h1>
      {% if message %}
        <div id="alertX73" class="message warning">
          {{ message }}
          <button type="button" onclick="close_this('alertX73');" class="close_alert warning">&#x2716;</button>
        </div>
        <div style="clear: both;"></div>
      {% endif %}
      <p class="about-shop">Musíme sa priznať, že téma tejto súťaže nám dala zabrať ešte skôr ako sme sa pustili do programovania. Nakoniec sme sa rozhodli, že spravíme e-shop kde sa budú predávať veci pripojiteľné na internet. Názov NANET, ktorý môžete vidieť na pozadí našej stránky, teda symbolizuje, že s našimi produktami sa na net dostanete všade. Môžete sa preklikať celou stránkou a zistiť, či Vás nejaký z produktov nenadchne. Ak by sa tak náhodou stalo, tak si ho prosím neobjednávajte u nás, pretože peniaze by nás síce potešili, ale produkt by Vám s najväčšou pravdepodobnosťou domov neprišiel. Napriek tomu dúfame, že sa Vám naša stránka bude páčiť!
        <br>
        <div class="about-shop" style="text-align: right">
          Autori stránky
        </div>
        <hr>
        <ul class="article-list-large">
          <li>
            <a><img type="jpg" src="{% static 'img/mane.jpg' %}" alt="@martinnevicky" /></a>
            <h2><a href="#">Martin Nevický</a></h2>
            <p>
              Volám sa Martin a som rodený Košičan, rovnako ako môj spolupracovník
              chodím na osemročné Gymnázium na Alejovej 1. v Košiciach. Vo voľnom čase
              rád športujem a spoznávam nové veci. Do tejto súťaže som sa zapojil
              predovšetkým tvorbou frontend-u a beriem to ako užitočnú skúsenosť do budúcna.
            </p>
            <span>
              <a href="https://www.facebook.com/nevicky.martin">/martin.nevicky</a>
              &emsp;
              <a href="https://www.instagram.com/martinnevicky/">@martinnevicky</a>
            </span>
          </li>
          <li>
            <a><img src="{% static 'img/mast.jpg' %}" alt="@martinstevko" /></a>
            <h2><a href="#">Martin Števko</a></h2>
            <p>
              Som Python developer. Okrem Python-u programujem tiež v jazykoch ako
              Java, C++, PHP, JavaScript, Pascal, TeX, LaTeX, HTML, CSS a Batch/Bash.
              Pri tvorbe tejto webstránky som sa zaoberal hlavne backend-om a JavaSript-om.
              V prípade záujmu o spoluprácu ma kontaktujte prostredníctvom e-mailovej
              adrese uvedenej nižšie.
            </p>
            <span>
              <a href="mailto:mstevko10@gmail.com">mstevko10@gmail.com</a>
              &emsp;
              <a href="https://github.com/MartinStevko">GitHub/MartinStevko</a>
            </span>
          </li>
        </ul>
      </p>
    </div>
    <footer class="footer">
      <a class="foot" href="https://github.com/MartinStevko/SEN_eshop">Zzrojový kód - ESHOP ©MARTINNEVICKY&MARTINSTEVKO2018</a>
    </footer>
  </body>
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
</html>
