{% load staticfiles %}

<!-- Auto refresh results -->
<!--<meta http-equiv="refresh" content="5">-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Internetový obchod s vecami pripojitaľnými na internet">
    <meta name="author" content="Martin Nevický & Martin Števko">
    <meta name="keywords" content="eshop, obchod, internet, sieť, veci">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internet vecí" />
    <meta property="og:description" content="Internetový obchod s vecami pripojitaľnými na internet. Vytvorte si úplne vlatnú kompletnú sieť!" />
    <meta property="og:image" content="{% static 'img/iot_fb.jpg' %}" />

    <title>{{ the_product.name }}</title>
    <link rel="icon" href="{% static 'img/logo_invert.png' %}" type="png">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">
  </head>
  <body onload="previous_style()">
    <header>
      <div class="topnav" id="topnavbar">
        {% if user.is_superuser %}
          <a href="{% url 'admin:index' %}">Administration</a>
        {% endif %}
        <a href="{% url 'eshop:index' %}">Domov</a>
        <div class="dropdown active">
          <a class="active dropbtn" href="{% url 'eshop:categories' dvsn.id %}">
            {{ dvsn.name }}
          </a>
          <div class="dropdown-content">
            {% for cat in ctgr %}
              <a href="{% url 'eshop:products' cat.id %}">{{ cat.name }}</a>
            {% endfor %}
          </div>
        </div>

        {% for division in menu %}
          <div class="dropdown">
            <a class="dropbtn" href="{% url 'eshop:categories' division.0.id %}">
              {{ division.0.name }}
            </a>
            <div class="dropdown-content">
              {% for cat in division.1 %}
                <a href="{% url 'eshop:products' cat.id %}">{{ cat.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div id="end">
        <a href="{% url 'eshop:basket' %}">Košík</a>
        <a href="{% url 'eshop:contact' %}">Kontakt</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      </div>
    </header>
    <div id="content" class="container">
      <section id="main">
        <h1>{{ the_product.name }}</h1>
        <div class="init">
          <div>
            <p>
              <img id="imgmain" class="main" src="{{ the_product.image.url }}" alt="{{ the_product.name }}" width="400px">
              <p class="about">
                {{ the_product.description }}
              </p>
            </p>
            <div>
              <p class="price">
                Cena: {{ the_product.price }}&euro;
              </p>
              {% if the_product.in_storage %}
                <p id="nasklade">
                  Na sklade
                </p>
              {% else %}
                <p id="nieje">
                  Produkt sa momentálne nenachádza na sklade a nie je ho možné objednať.
                </p>
              {% endif %}
            </div>
            <div>
              <form method="POST" autocomplete="off">
                {% csrf_token %}
                {% if the_product.in_storage %}
                  <input id="amount" name="amount" type="number" min="1" value="1" required>
                  <br>
                  <input class="add" type="submit" value="Pridať do košíka" name="add_to_cart">
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        <div class="buttons row">
          <button class="column" onclick="show_hide_section('1')">
            Bližšia špecifikácia
          </button>
          <button id="cent" class="column" onclick="show_hide_section('2')">
            Galéria produktu
          </button>
          <button class="column" onclick="show_hide_section('3')">
            Recenzie
          </button>
        </div>
      </section>

      <section id="1" style="display: 'block'">
        {% if the_specification %}
          <div class="table">
            <table>
              <tr>
                <th id="nazov_spec" colspan="2">
                  Bližšia špecifikácia
                </th>
              </tr>
              {% for spec in the_specification %}
                <tr>
                  <td class="first">{{ spec.name }}</td>
                  <td class="second">{{ spec.value }}</td>
              </tr>
            {% endfor %}
            </table>
          </div>
        {% else %}
          <center>
            <p class="no_content">
              Výrobca k tomuto produktu neposkytuje žiadnu užšiu špecifikáciu.
            </p>
          </center>
        {% endif %}
      </section>
      <section id="2" style="display: 'none'">
        {% if the_gallery %}
          <h3>Galéria</h3>
          <div class="gallery_row">
            {% for img in the_gallery %}
              <div class="gallery_column">
                <img src="{{ img.image.url }}" alt="{{ img.name }}" style="width:100%" onclick="big_image(this);">
              </div>
            {% endfor %}
          </div>
          <div class="gallery_container">
            <span onclick="this.parentElement.style.display='none'" class="gallery_closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
          </div>
        {% else %}
          <center>
            <p class="no_content">
              K tomuto produktu neboli do galérie nahrané žiadne fotografie.
            </p>
          </center>
        {% endif %}
      </section>
      <section id="3" style="display: 'none'">
        {% if the_review %}
          <h3>Recenzie</h3>
          <div class="mess">
            {% for rev in the_review %}
              <div class="author">
                {{ rev.author }}
              </div>
              <p class="bubble">
                {{ rev.text }}
              </p>
              <div class="time">
                {{ rev.time }}
              </div>
            {% endfor %}
          </div>
          <form method="POST" autocomplete="off">
            {% csrf_token %}
            <h4>Pridajte recenziu</h4>
            <div class="row add_review">
              <div class="col-75">
                <input class="add_review" name="author" type="text" maxlength="50" placeholder="Používateľské meno" required>
              </div>
            </div>
            <div class="row add_review">
              <div class="col-75">
                <input class="add_review" name="mail" type="email" placeholder="priklad@gmail.com" required>
              </div>
            </div>
            <div class="row add_review">
              <div class="col-75">
                <textarea class="add_review maxv" name="text" rows="6" cols="50" placeholder="Text recenzie" required></textarea>
              </div>
            </div>
            <div class="row add_review">
              <input class="add_review maxv" type="submit" value="Publikovať" name="add_review">
            </div>
          </form>
        {% else %}
          <center>
            <p class="no_content">
              K tomuto produktu zatiaľ neboli pridané žiadne recenzie.
            </p>
            <form method="POST" autocomplete="off">
              {% csrf_token %}
              <h3>Pridajte recenziu</h3>
              <div class="row add_review">
                <div class="col-75">
                  <input class="add_review" name="author" type="text" maxlength="50" placeholder="Používateľské meno" required>
                </div>
              </div>
              <div class="row add_review">
                <div class="col-75">
                  <input class="add_review" name="mail" type="email" placeholder="priklad@gmail.com" required>
                </div>
              </div>
              <div class="row add_review">
                <div class="col-75">
                  <textarea class="add_review maxv" name="text" rows="6" cols="50" placeholder="Text recenzie" required></textarea>
                </div>
              </div>
              <div class="row add_review">
                <input class="add_review maxv" type="submit" value="Publikovať" name="add_review">
              </div>
            </form>
          </center>
        {% endif %}
      </section>
    </div>
    <footer class="footer">
      <a class="foot" href="https://github.com/MartinStevko/SEN_eshop">Zdrojový kód - ESHOP ©MARTINNEVICKY&MARTINSTEVKO2018</a>
    </footer>
  </body>
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/product_view.js' %}"></script>
</html>
