* {
    box-sizing: border-box;
}

input:not([type=submit]), select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #3c82f2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #1067f2;
}

.con-1 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.con-2 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.con-3 {
    float: left;
    width: 75px;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 780px) {
    .con-1, .con-2, .con-3, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

img {
  float: right;
  width: 30%;
}

div.message {
  margin: 0 0 10px 0;
  padding: 20px 49px 20px 20px;
  width: calc(100%-70px);
  border: 0.5px solid;
  border-radius: 8px;
  position: relative;
}

button.close_alert {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  opacity: 0.3;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  font-size: 1.2em;
}

button.close_alert:hover {
  opacity: 1;
}

div.error {
  background-color: #ffcccc;
  border-color: #ff3333;
  color: #990000;
}

button.error {
  color: #990000;
}

div.success {
  background-color: #99ff99;
  border-color: #00cc00;
  color: #008000;
}

button.success {
  color: #008000;
}
