body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: url("../img/computerbackground.png") center center fixed;
  background-attachment: fixed;
  background-size: 100%;
  max-width: 1920px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
}

.foot {
  color: white;
}

h1 {
  text-align: center;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  opacity: 0.95;
  margin: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #bfbfbf;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 16px;
}

.active {
  background-color: #777777;
  color: white;
}

.active.hruba {
  font-weight: bold;
}

.actualactive {
  font-weight: bold;
}

.active.dropbtn {
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    color: black;
    min-width: 80px;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #878787;
    min-width: 170px;
    z-index: 2;
    opacity: 0.95;
}

.dropdown-content a:not(.dropbtn) {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    opacity: 0.95;
    min-width: 170px;
}

.topnav a:not(.dropbtn):hover, .dropdown:hover .dropbtn {
  background-color: #878787;
  color: black;
}

.dropdown-content a:not(.dropbtn):hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.end {
  float: right;
}

@media screen and (max-height: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  body {
    background: url("../img/phonebackground.png") center center fixed;
    background-attachment: fixed;
    background-size: 100%;
  }

  .end {
    float: left;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a:not(.dropbtn) {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {display: none;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  body {
    background: url("../img/phonebackground.png") center center fixed;
    background-attachment: fixed;
    background-size: 100%;
  }
}
