* {
    box-sizing: border-box;
}

div.buttons.row {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  margin: 20px 0;
  border: 1px solid;
}

.column {
    float: left;
    width: 33.33%;
    height: 50px;
    border: none;
    background-color: #cfcfcf;
    font-size: 17px;
    padding: 15px;
}

.column:hover {
  background-color: #9f9f9f;
  font-weight: bold;
}

#cent {
  border-left: 1px solid;
  border-right: 1px solid;
}

button.column:active {
    border: none;
    background-color: #9f9f9f;
    font-weight: bold;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 640px) {
    .column {
        width: 100%;
    }

    #cent {
      border: none;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }
}

@media (min-width: 800px) {
  input.add {
    display: block;
    width: 44%;
    margin: auto;
    background-color: #3c82f2;
    color: white;
    height: 80px;
    border-radius: 40px;
    font-size: 30px;
    border: none;
    max-width: 500px;
  }

  input.add:hover {
    background-color: #8ab0f7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  #amount {
    display: block;
    margin: auto;
    width: 22%;
    border-radius: 30px 30px 0 0;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #5d677a;
    border-bottom: none;
    max-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  div.init {
    width: 100%;
    margin-bottom: 50px;
  }

  div.init:after {
    content: "";
    display: table;
    clear: both;
  }

  img.main {
    float: left;
    width: 40%;
    height: auto;
    max-width: 360px;
    border-radius: 5px;
    margin-right: 40px;
  }

  #nasklade {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 0;
  }

  #nieje {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  p.price {
    font-weight: bold;
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  input.add {
    display: block;
    width: 80%;
    margin: auto;
    background-color: #3c82f2;
    color: white;
    height: 80px;
    border-radius: 40px;
    font-size: 30px;
    border: none;
    max-width: 440px;
    margin-bottom: 50px;
  }

  input.add:hover {
    background-color: #1067f2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  #amount {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 30px 30px 0 0;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #5d677a;
    border-bottom: none;
    max-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  img.main {
    width: 80%;
    height: auto;
    max-width: 400px;
    max-height: 540px;
    display:block;
    margin:auto;
    margin-bottom: 30px;
  }

  #nasklade {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 0;
  }

  #nieje {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  p.price {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 440px) {
  input.add {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #3c82f2;
    color: white;
    height: 80px;
    border-radius: 40px;
    font-size: 30px;
    border: none;
    max-width: 440px;
    margin-bottom: 50px;
  }

  input.add:hover {
    background-color: #1067f2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  #amount {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 30px 30px 0 0;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #5d677a;
    border-bottom: none;
    max-width: 280px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  img.main {
    width: 94%;
    height: auto;
    max-width: 400px;
    max-height: 540px;
    display:block;
    margin:auto;
    margin-bottom: 30px;
  }

  #nasklade {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 0;
  }

  #nieje {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  p.price {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 330px) {
  input.add {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #3c82f2;
    color: white;
    height: 80px;
    border-radius: 40px;
    font-size: 20px;
    border: none;
    max-width: 440px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
  }

  input.add:hover {
    background-color: #1067f2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  #amount {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 30px 30px 0 0;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #5d677a;
    border-bottom: none;
    max-width: 280px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  }

  img.main {
    width: 94%;
    height: auto;
    max-width: 400px;
    max-height: 540px;
    display:block;
    margin:auto;
    margin-bottom: 30px;
  }

  #nasklade {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 0;
  }

  #nieje {
    font-size: 17px;
    font-weight: bold;
    color: red;
  }

  p.price {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
  }
}

.mess {
  margin-bottom: 20px;
}

.bubble {
  padding: 10px;
	position: relative;
	background: #e0e0e0;
	border-radius: .3em;
  font-size: 17px;
  margin: 0;
}

.time {
  text-align: right;
  color: #878787;
}

.author {
  padding-left: 7px;
  font-size: 120%;
  color: #878787;
}

.add_review {
    box-sizing: border-box;
}

input.add_review:not([type=submit]), select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input.add_review[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label.add_review {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input.add_review[type=submit] {
    background-color: #3c82f2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #1067f2;
}

.col-25.add_review {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-75.add_review {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.col-5.add_review {
    float: left;
    width: 75px;
    margin-top: 6px;
}

.row.add_review:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .col-25.add_review, .col-75.add_review, .col-5.add_review, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.add_review {
  margin-bottom: 10px;
}

input.add_review:not(.maxv) {
  float: left;
  max-width: 500px;
}

.no_content {
  font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(odd){background-color: #e2e2e2}
tr:nth-child(even){background-color: #d2d2d2}

th {
    background-color: #ce2323;
    color: white;
}

.second {
  width: 65%;
}

#nazov_spec {
  font-size: 25px;
  text-align: center;
}

@media (max-width: 760px) {
  table {
    width: 80%;
  }

  #nazov_spec {
    font-size: 17px;
    text-align: left;
  }

  td {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  table {
    width: 100%;
  }

  .second {
    width: 60%;
  }
}

@media (max-width:400px) {
  div.table {
    overflow-x:auto;
  }
}

* {
    box-sizing: border-box;
}

.gallery_column {
    float: left;
    width: 16.6666%;
    padding: 10px;
}

.gallery_column img {
    opacity: 0.8;
    cursor: pointer;
    border-radius: 3px;
}

.gallery_column img:hover {
    opacity: 1;
}

.gallery_row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery_container {
    position: relative;
    display: none;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

#imgtext {
    position: absolute;
    bottom: 45px;
    left: 45px;
    color: white;
    font-size: 20px;
}

.gallery_closebtn {
    position: absolute;
    top: 40px;
    right: 50px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

@media (min-height:800px) {
  .gallery_container {
    max-width: 720px;
  }
}

@media (max-width: 850px) {
  .gallery_column {
    width: 33.333%;
  }
}

@media (max-width:540px) {
  .gallery_column {
    padding: 5px;
  }

  .gallery_container {
    padding: 3px;
  }

  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 17px;
  }

  .gallery_closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
  }
}

@media (max-width:420px) {
  .gallery_column {
    width: 50%;
  }
}

@media (max-width:380px) {
  .gallery_column {
    width: 100%;
  }

  .gallery_column img {
      opacity: 1;
      cursor: default;
  }
}

h3 {
  text-align: left;
}
